.post-page {
    display: grid;
    gap: 32px;
    padding: 16px;
    background-color: #1d2d44;
}

.post-page .post {
    display: grid;
    gap: 16px;
    background-color: #324257;
    padding: 16px;
    color: #eee;
    border-left: 4px solid #fff;
}

.post-page .post .text-layout {
    white-space: pre-wrap;
}

.post-page .button-grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    gap: 8px;
}
