.post-page {
    display: grid;
    gap: 32px;
    padding: 16px;
    background-color: #1d2d44;
}

.post {
    display: grid;
    gap: 16px;
    background-color: #3e5c76;
    padding: 16px;
    color: #eee;
}

.button-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 10%;
    margin-left: auto;
}
