.posts-page {
    display: grid;
    gap: 32px;
    padding: 16px;
    background-color: #1d2d44;
}

.posts-page h2 {
    text-align: center;
}

.posts-page .post {
    display: grid;
    gap: 16px;
    background-color: #324257;
    padding: 16px;
    color: #eee;
    border-left: 4px solid #fff;
    width: auto;
}

.posts-page .post .text-layout {
    overflow: hidden;
    max-height: 40px;
    white-space: pre;
}

.posts-page .button-grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    gap: 8px;
}

.posts-page .post a{
    color: #fff;
}
