<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css')}}"
        />
        <title>A Random Blog</title>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class="main-header-nav">
            <header class="main-header"><h2>A BLOG</h2></header>
            <nav class="main-nav">
                <a href="{{ url_for("routes.index") }}">Home</a>
                <a href="{{ url_for("routes.about") }}">About</a>
                <a href="{{ url_for("routes.posts") }}">Posts</a>
                {% if session.get("user_id") %}
                <a href="{{ url_for("routes.create_post") }}">Add Post</a>
                {% endif %}
                {% if not session.get("user_id") %}
                <a href="{{ url_for("routes.login") }}">Login</a>
                <a href="{{ url_for("routes.signup") }}">Signup</a>
                {% endif %}
                {% if session.get("user_id") %}
                <a href="{{ url_for("routes.logout") }}">Logout</a>
                {% endif %}
            </nav>
        </div>
        <div class="main-message-block">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="message">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
        {% block body %}
        {% endblock %}
        <footer class="main-footer">&#127279 copyleft</footer>
    </body>
</html>
