{% extends "base.html" %}

{% block head %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/login.css')}}"
    />
{% endblock %}

{% block body %}
    <div class="login-page">
        <h2>Log In</h2>
        <form action="{{ url_for("routes.login") }}" method="POST">
            {{ form.csrf_token }}

            {{ form.username(class_="input", placeholder="username") }}
            {% for error in form.username.errors %}
                <div>{{ error }}</div>
            {% endfor %}

            {{ form.password(class_="input", placeholder="password") }}
            {% for error in form.password.errors %}
                <div>{{ error }}</div>
            {% endfor %}

            {{ form.login_button(class="buttons") }}
        </form>
    </div>
{% endblock %}
