{% extends "base.html" %}

{% block head %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/post.css') }}"
    />
{% endblock %}

{% block body %}
    <div class="post-page">
        <article class="post">
            <header>
                {{ post.title }} - published on {{ post.stringify_date_posted() }}
                {% if post.last_updated %}
                    last updated on {{ post.stringify_last_updated() }}
                {% endif %}
            </header>
            <div class="text-layout">{{ post.text }}</div>
            <footer>by {{ post.user_id.username }}</footer>
            {% if session.get("user_id") and session.get("user_id") ==
            post.user_id.id %}
            <div class="button-grid">
                <div><a class="link-buttons"
                        href="{{ url_for("routes.update_post", id=id) }}"
                     >Edit</a></div>
                <div><a class="link-buttons"
                        href="{{ url_for("routes.delete_post", id=id) }}"
                     >Delete</a></div>
            </div>
            {% endif %}
        </article>
    </div>
{% endblock %}
