{% extends "base.html" %}

{% block head %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/posts.css') }}"
    />
{% endblock %}

{% block body %}
    <div class="posts-page">
        <h1>All Posts</h1>
        {% for post in posts %}
            <article class="post">
                <header>
                    <a href="{{ url_for("routes.read_post", id=post.id) }}"
                    >{{ post.title }}</a> - published on {{ post.date_posted }}
                </header>
                <div>{{ post.text }}</div>
                <footer>by {{ post.user_id.username }}</footer>
                {% if session.get("user_id") and session.get("user_id") ==
                post.user_id.id %}
                <div class="button-grid">
                    <div><a class="link-buttons"
                            href="{{ url_for("routes.update_post", id=post.id) }}"
                         >Edit</a></div>
                    <div><a class="link-buttons"
                            href="{{ url_for("routes.delete_post", id=post.id) }}"
                         >Delete</a></div>
                </div>
                {% endif %}
            </article>
        {% endfor %}
    </div>
{% endblock %}
